.product{
  margin: 0 80px;
}
.image{
    width: 60px;
    height: 75px;
    border: 1px solid rgb(199, 180, 180);
    border-radius: 8px;
    margin: 0 10px;
    padding: 2px 5px;
}
.banner-details img{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}
.text-details{
    display: flex;
}
.text-details i{
 font-size: 30px;
}
.text-details img{
    width: 30px;
    height: 30px;
}
.text-details p{
    font-size: 16px;
    font-weight: 500;
}
.sales-policy{
    background: rgb(238, 233, 233);
    border-radius: 10px;
}
.buy-addCart{
    margin: 20px 0;
}
.name-product-details{
    margin-bottom: 20px;
}
.name-product-details h2{
    text-transform: uppercase;
    font-size: 33px;
}
.name-product-details div{
    border: 1px solid red;
    width: 100px;
    border-radius: 5px;
    color: red;
}
.price-product-details{
    display: flex;
    justify-content: space-between;
}
.installment-price{
    text-align: right;
}
.real-price span{
    color: white;
    background-color: red;
    border-radius: 5px;
    padding: 2px 3px;
    margin-right: 6px;
}
.real-price h3{
    color: red;
}
.real-price del{
    color:  grey;
}
.installment-price{
    font-size: 18px;
}
.installment-price div{
    color: rgb(80, 74, 74);
    font-weight: 500;
}
.option-price{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.option-price button{
    border-radius: 5px;
    border: 1px solid grey;
    color: rgb(44, 39, 39);
    font-size: 16px;
    font-weight: 500;
}
.option-price button:hover{
    background: red;
    color:  white;
}
.details-promotion{
    border: 1px solid red;
    border-radius: 5px;
}
.promotion-title{
    border-bottom: 1px solid red;
    padding-left: 20px;
    color:  white;
    font-size: 16px;
    font-weight: 500;
    background-color: red;
    text-transform: uppercase;
}
.promotion-item{
    margin: 7px 0 5px 7px;
    font-weight: 500;
}
.promotion-item span{
    width: 20px;
    height: 20px;
    background-color: red;
    color:  white;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
}
.buy-now button{
    width: 100%;
    border-radius: 5px;
    background: white;
    color: green;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 30px 0;
}
.buy-now button:hover{
    color:  white;
    background: blue;
    border: none;
}
.add-to-card button{
    width: 100%;
    border: none;
    border-radius: 5px;
    background: red;
    color: white;
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.comment{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
}
.main-comment{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;
}
.main-comment h3{
    margin: 10px 5px;
}
.info-user input{
    width: 100%;
    outline: none;
}
.info-user textarea{
    width: 100%;
    height: 160px;
}
.info-user button{
    color:  white;
    background-color: red;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.comment-list{
    border-top: 1px solid black;
}
.comment-item{
    margin-top: 20px;
}
.comment-item ul{
    list-style: none;
    border-bottom: 1px solid black ;
}